/* Global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Flexbox centering */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: auto;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* Container styles */
.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: 20px;
}

/* Form styles */
.url-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url-form input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.url-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.url-form button:hover {
  background-color: #0056b3;
}

/* URL List styles */
.url-list {
  list-style: none;
  padding: 0;
}

.url-list li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url-list button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.url-list button:hover {
  background-color: #c82333;
}

/* Top Level Domains styles */
.top-level-domains {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 20px;
}

.top-level-domains strong {
  display: block;
  margin-bottom: 10px;
}

.top-level-domains li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-results {
  background-color: #e9f7fa;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.search-results strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.search-results li {
  background-color: #ffffff;
  border: 1px solid #d1e7dd;
  margin-bottom: 10px;
  list-style: none;
  overflow-wrap: break-word;
}

.search-results li strong {
  font-size: 16px;
  color: #0d6efd;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

li strong {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
